<!DOCTYPE html>
<html>
  <head>
    <title>RailsCompetencyTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if flash.any? %>
    <div class="flashes">
      <% flash.each do |name, message| -%>
        <div class="flash <%= name %>">
          <%= message %>
        </div>
      <% end -%>
    </div>
    <% end %>

    <%= yield %>
  </body>
</html>
